<div class="container">
  <div class="title">
    <h1>Edit task</h1>
  </div>
  <div class="body">
    <%= render "form" %>
    <div class="task-link">
      <p class="btn btn-primary"><%= link_to "Home", tasks_path %></p>
    </div>
  </div>
</div>

